@tailwind base;
@tailwind components;
@tailwind utilities;

.shadow-image {
  box-shadow: inset 0 0 100px rgba(0, 0, 0, 0.8); 
}

.design{
  position: relative;
  font-weight: 800;
  background: linear-gradient(25deg, red,blue);
  background-clip: text;
  color: transparent;
  text-align: center;
  filter: drop-shadow(3px,3px,1px,green);
}

.banner-design{
  position: relative;
  font-weight: 800;
  background: linear-gradient(25deg, rgba(127, 5, 207, 0.815),rgba(161, 5, 192, 0.884));
  background-clip: text;
  color: transparent;
  text-align: center;
  filter: drop-shadow(3px,3px,1px,green);
}